
<configuration>
  <system.webServer>
    <staticContent>
      <!-- Unity 5.6 -->
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <mimeMap fileExtension=".unityweb" mimeType="application/binary" />

      <!-- Unity 5.x -->
      <mimeMap fileExtension=".data" mimeType="application/binary" />
      <mimeMap fileExtension=".mem" mimeType="application/binary" />

      <!-- Unity 5.3 -->
      <mimeMap fileExtension=".datagz" mimeType="application/binary" />
      <mimeMap fileExtension=".jsgz" mimeType="application/binary" />
      <mimeMap fileExtension=".memgz" mimeType="application/binary" />
    </staticContent>
    <handlers>
        <remove name="PHP56_via_FastCGI" />
        <add name="PHP56_via_FastCGI" path="*.php" verb="GET, PUT, POST, HEAD, OPTIONS, TRACE, PROPFIND, PROPPATCH, MKCOL, COPY, MOVE, LOCK, UNLOCK" modules="FastCgiModule" scriptProcessor="D:\Program Files (x86)\PHP\v5.6\php-cgi.exe" resourceType="Either" requireAccess="Script" />
    </handlers>
  </system.webServer>
</configuration>